In [40]:
import pandas as pd
import io
import requests

# Import traitor data

In [41]:
traitor_df = pd.read_csv("147_traitors.csv", index_col=False)

In [42]:
traitor_df

,id,full_name,first_name,last_name,state,chamber,top_donors_link
0,N00003028,Robert B. Aderholt,Robert,Aderholt,Ala.,House,https://www.opensecrets.org/members-of-congres...
1,N00030910,Mo Brooks,Mo,Brooks,Ala.,House,https://www.opensecrets.org/members-of-congres...
2,NaN,Jerry Carl,Jerry,Carl,Ala.,House,NaN
3,NaN,Barry Moore,Barry,Moore,Ala.,House,NaN
4,N00035691,Gary Palmer,Gary,Palmer,Ala.,House,https://www.opensecrets.org/members-of-congres...
...,...,...,...,...,...,...,...
142,N00034044,John Kennedy,John,Kennedy,La.,Senate,https://www.opensecrets.org/members-of-congres...
143,N00043298,Cindy Hyde-Smith,Cindy,Hyde-Smith,Miss.,Senate,https://www.opensecrets.org/members-of-congres...
144,N00041620,Josh Hawley,Josh,Hawley,Mo.,Senate,https://www.opensecrets.org/members-of-congres...
145,N00033085,Ted Cruz,Ted,Cruz,Texas,Senate,https://www.opensecrets.org/members-of-congres...
146,N00029788,Cynthia Lummis,Cynthia,Lummis,Wyo.,Senate,https://www.opensecrets.org/members-of-congres...

# Remove NAN data

In [43]:
traitor_df = traitor_df.fillna('')

In [44]:
traitor_df

,id,full_name,first_name,last_name,state,chamber,top_donors_link
0,N00003028,Robert B. Aderholt,Robert,Aderholt,Ala.,House,https://www.opensecrets.org/members-of-congres...
1,N00030910,Mo Brooks,Mo,Brooks,Ala.,House,https://www.opensecrets.org/members-of-congres...
2,,Jerry Carl,Jerry,Carl,Ala.,House,
3,,Barry Moore,Barry,Moore,Ala.,House,
4,N00035691,Gary Palmer,Gary,Palmer,Ala.,House,https://www.opensecrets.org/members-of-congres...
...,...,...,...,...,...,...,...
142,N00034044,John Kennedy,John,Kennedy,La.,Senate,https://www.opensecrets.org/members-of-congres...
143,N00043298,Cindy Hyde-Smith,Cindy,Hyde-Smith,Miss.,Senate,https://www.opensecrets.org/members-of-congres...
144,N00041620,Josh Hawley,Josh,Hawley,Mo.,Senate,https://www.opensecrets.org/members-of-congres...
145,N00033085,Ted Cruz,Ted,Cruz,Texas,Senate,https://www.opensecrets.org/members-of-congres...
146,N00029788,Cynthia Lummis,Cynthia,Lummis,Wyo.,Senate,https://www.opensecrets.org/members-of-congres...

# Create Master CSV of all contributors 
Download contribution CSV files from Open Secrets for each of the traitors and combine to master CSV - 147_contributors.csv

In [45]:
# starter dataframe for master contributor data
contributor_column_names = ['pacid','orgid','ultorg','total','pacs','indivs','releasedate','traitor_id']
contributor_df = pd.DataFrame(columns = contributor_column_names)

# loop through all traitors
for _, traitor_row in traitor_df.iterrows():     
    if traitor_row.id != '':
        print(f'{traitor_row.full_name} from {traitor_row.state} is a traitor')
        
        # get contributors csv file
        url = f'https://www.opensecrets.org/members-of-congress/{traitor_row.first_name.lower()}-{traitor_row.last_name.lower()}/contributors.csv?cid={traitor_row.id}&cycle=2020&recs=100&type=C'
        data = requests.get(url).content
        df = pd.read_csv(io.StringIO(data.decode('utf-8')))
        df = df.applymap(lambda x: x.strip() if type(x)==str else x)
        
        # remove trivial columns
        df = df.drop(['affiliateid', 'rank', 'client', 'registrant', 'numlobbyists', 'loborgid'], axis=1)
        
        # add traitor data
        df['traitor_id'] = traitor_row.id     
        df['traitor_name'] = traitor_row.full_name
        df['traitor_state'] = traitor_row.state
        df['traitor_chamber'] = traitor_row.chamber
        
        # combine to master contributor file
        frames = [contributor_df, df]
        contributor_df = pd.concat(frames)

# rename columns        
contributor_df = contributor_df.rename(columns={'pacid': 'pac_id', 'orgid': 'id', 'ultorg': 'name', 'indivs': 'individuals', 'releasedate': 'release_date'})  

print('completed')

# save contributors dataframe to csv file
contributor_df.to_csv(r'147_contributors.csv', index=False, header=True)

Robert B. Aderholt from Ala. is a traitor
Mo Brooks from Ala. is a traitor
Gary Palmer from Ala. is a traitor
Mike Rogers from Ala. is a traitor
Andy Biggs from Ariz. is a traitor
Paul Gosar from Ariz. is a traitor
Debbie Lesko from Ariz. is a traitor
David Schweikert from Ariz. is a traitor
Rick Crawford from Ark. is a traitor
Ken Calvert from Calif. is a traitor
Mike Garcia from Calif. is a traitor
Darrell Issa from Calif. is a traitor
Doug LaMalfa from Calif. is a traitor
Kevin McCarthy from Calif. is a traitor
Devin Nunes from Calif. is a traitor
Doug Lamborn from Colo. is a traitor
Mario Diaz-Balart from Fla. is a traitor
Neal Dunn from Fla. is a traitor
Matt Gaetz from Fla. is a traitor
Brian Mast from Fla. is a traitor
Bill Posey from Fla. is a traitor
John Rutherford from Fla. is a traitor
Greg Steube from Fla. is a traitor
Daniel Webster from Fla. is a traitor
Rick Allen from Ga. is a traitor
Earl L. "Buddy" Carter from Ga. is a traitor
Jody Hice from Ga. is a traitor
Barry Loudermilk from Ga. is a traitor
Russ Fulcher from Idaho is a traitor
Mike Bost from Ill. is a traitor
Jim Baird from Ind. is a traitor
Jim Banks from Ind. is a traitor
Greg Pence from Ind. is a traitor
Jackie Walorski from Ind. is a traitor
Ron Estes from Kan. is a traitor
Harold Rogers from Ky. is a traitor
Garret Graves from La. is a traitor
Clay Higgins from La. is a traitor
Steve Scalise from La. is a traitor
Andy Harris from Md. is a traitor
Jack Bergman from Mich. is a traitor
Tim Walberg from Mich. is a traitor
Jim Hagedorn from Minn. is a traitor
Michael Guest from Miss. is a traitor
Trent Kelly from Miss. is a traitor
Steven Palazzo from Miss. is a traitor
Sam Graves from Mo. is a traitor
Vicky Hartzler from Mo. is a traitor
Billy Long from Mo. is a traitor
Blaine Luetkemeyer from Mo. is a traitor
Jason Smith from Mo. is a traitor
Dan Bishop from N.C. is a traitor
Ted Budd from N.C. is a traitor
Virginia Foxx from N.C. is a traitor
Richard Hudson from N.C. is a traitor
Gregory Murphy from N.C. is a traitor
David Rouzer from N.C. is a traitor
Jeff Van Drew from N.J. is a traitor
Chris Jacobs from N.Y. is a traitor
Elise M. Stefanik from N.Y. is a traitor
Lee Zeldin from N.Y. is a traitor
Adrian Smith from Neb. is a traitor
Steve Chabot from Ohio is a traitor
Warren Davidson from Ohio is a traitor
Bob Gibbs from Ohio is a traitor
Bill Johnson from Ohio is a traitor
Jim Jordan from Ohio is a traitor
Tom Cole from Okla. is a traitor
Kevin Hern from Okla. is a traitor
Frank Lucas from Okla. is a traitor
Markwayne Mullin from Okla. is a traitor
John Joyce from Pa. is a traitor
Fred Keller from Pa. is a traitor
Mike Kelly from Pa. is a traitor
Daniel Meuser from Pa. is a traitor
Scott Perry from Pa. is a traitor
Guy Reschenthaler from Pa. is a traitor
Lloyd Smucker from Pa. is a traitor
Glenn Thompson from Pa. is a traitor
Jeff Duncan from S.C. is a traitor
Ralph Norman from S.C. is a traitor
Tom Rice from S.C. is a traitor
William Timmons from S.C. is a traitor
Joe Wilson from S.C. is a traitor
Tim Burchett from Tenn. is a traitor
Scott DesJarlais from Tenn. is a traitor
Chuck Fleischmann from Tenn. is a traitor
Mark E. Green from Tenn. is a traitor
David Kustoff from Tenn. is a traitor
John Rose from Tenn. is a traitor
Jodey Arrington from Texas is a traitor
Brian Babin from Texas is a traitor
Michael C. Burgess from Texas is a traitor
John R. Carter from Texas is a traitor
Michael Cloud from Texas is a traitor
Louie Gohmert from Texas is a traitor
Lance Gooden from Texas is a traitor
Pete Sessions from Texas is a traitor
Randy Weber from Texas is a traitor
Roger Williams from Texas is a traitor
Ron Wright from Texas is a traitor
Chris Stewart from Utah is a traitor
Ben Cline from Va. is a traitor
Morgan Griffith from Va. is a traitor
Robert J. Wittman from Va. is a traitor
Carol Miller from W.Va. is a traitor
Alexander X. Mooney from W.Va. is a traitor
Tom Tiffany from Wis. is a traitor
Rick Scott from Fla. is a traitor
Roger Marshall from Kan. is a traitor
John Kennedy from La. is a traitor
Cindy Hyde-Smith from Miss. is a traitor
Josh Hawley from Mo. is a traitor
Ted Cruz from Texas is a traitor
Cynthia Lummis from Wyo. is a traitor
completed

In [ ]:
import requests
for index, row in df.iterrows():  
    if index < 3:
        if row[5] != ' ':
            url = f'https://www.opensecrets.org/members-of-congress/{row[3].lower()}-{row[4].lower()}/contributors.csv?cid={row[5]}&cycle=2020&recs=100&type=C'
            print(url)
            r = requests.get(url)
            with open(str(row[5]) + '.csv', 'wb') as outfile:
                outfile.write(r.content)

# Create Top List of Contributors to all Traitors

In [46]:
import pandas as pd

# load contributors data
contributor_df = pd.read_csv("147_contributors.csv", index_col=False)

# group by donation amount
contributor_df_sum = contributor_df.groupby(['name'])['total'].agg('sum').reset_index(name="total_contributions")

# sort by total donation highest to lowest
contributor_df_sum = contributor_df_sum.sort_values(by = ['total_contributions'], ascending=[False])
contributor_df_sum.reset_index(drop=True, inplace=True)

In [47]:
contributor_df_sum

                           name  total_contributions
0         American Bankers Assn              1214903
1     National Assn of Realtors              1073620
2             Majority Cmte PAC              1060000
3            House Freedom Fund              1052229
4                      AT&T Inc               978173
...                         ...                  ...
5235             Jackson Clinic                  250
5236                 Distinc Tt                  250
5237                    Nutrien                   50
5238              Visnaga Ranch                   50
5239      Juris Consultants LLC                   10

[5240 rows x 2 columns]

In [49]:
# save contributors dataframe to csv file
contributor_df_sum.to_csv(r'147_contributors_top_list.csv', index=False, header=True)

# Filter By Traitor

In [51]:
import pandas as pd

# load contributors data
contributor_df = pd.read_csv("147_contributors.csv", index_col=False)

# filter by traitor_id can be found in 147_traitors.csv
traitor_id = 'N00033085'

contributor_df = contributor_df[contributor_df.traitor_id == traitor_id].sort_values(by = ['total'], ascending=[False])

contributor_df = contributor_df[['name', 'total']]

# save contributors dataframe to csv file
contributor_df.to_csv(r'one_traitor_contributors.csv', index=False, header=True)

In [52]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(contributor_df)

                                         name   total
12096               Senate Conservatives Fund  276588
12097                         Club for Growth  234832
12098              Woodforest Financial Group  138201
12099                         Lockheed Martin   98895
12100                      Berkshire Hathaway   97968
12101                                  NorPAC   93950
12102                     Sullivan & Cromwell   71800
12103                         Delta Air Lines   68379
12104                               Insperity   66775
12105                  Stewart Title Guaranty   65965
12106                   Sutton Ventures Group   61800
12108                            Jennmar Corp   60700
12107                         Avalon Advisors   60700
12109                      Doggett Industries   57200
12110                                    USAA   56718
12111                      Herzog Contracting   55900
12112                          Hilcorp Energy   53818
12113                                Ryan LLC   52666
12114                         JW Childs Assoc   52400
12115                     Stewart & Stevenson   52400
12116                        RIDA Development   51400
12117                      Southwest Airlines   51076
12118                           Valero Energy   50019
12119                 American Airlines Group   49263
12120                                AT&T Inc   48410
12121                 Gibson, Dunn & Crutcher   48050
12122                      Union Pacific Corp   47550
12123                 Bluewater International   47200
12124                        MIDDLETON OIL CO   47000
12125                            Cinemark USA   45800
12126                   Greenberg Traurig LLP   45100
12127                           Cooper & Kirk   44600
12128                    Hudson River Trading   44100
12129                      Duty Free Americas   43200
12130                              Pbf Energy   43160
12131                           Goldman Sachs   42675
12132             Republican Jewish Coalition   42474
12133                            Lodge Lumber   42450
12134                            Chevron Corp   42395
12135                 Quantum Energy Partners   42100
12136                        Giles & O'Malley   42000
12137                              Ariel Corp   41600
12138                 Deason Capital Services   40800
12139                    Saulsbury Industries   40730
12140                            Comcast Corp   39715
12141                    Huffines Communities   39700
12142                 Mirand Response Systems   38900
12143                    Interstate Batteries   38500
12144                   Debusk Services Group   38300
12145                     University of Texas   38129
12146                               Accenture   37809
12147        Southern Glazer's Wine & Spirits   37425
12148                    Platinum Health Care   37400
12149          Republic National Distributing   37400
12150                          Hicks Holdings   37050
12151                    JAT Capital Partners   36600
12152                           Oberheiden Pc   36600
12153                              Fedex Corp   36275
12154                             Exxon Mobil   36267
12155                          State of Texas   36241
12156                             Citadel LLC   36200
12157                           Bechtel Group   35916
12158                       Desert Royalty Co   35600
12159                 Honeywell International   33875
12160                         Henry Resources   33437
12161                          Wilks Brothers   33028
12162                        Morgan Lewis LLP   32966
12163                     Credit Suisse Group   32200
12164                    Occidental Petroleum   32159
12165  Heavy Construction Systems Specialists   32050
12166                      RE Janes Gravel Co   31600
12167                      Texas Transeastern   31600
12168                          Crawford Group   30915
12169                    Arizona Diamondbacks   30800
12170                         Baker Botts LLP   30625
12171                        Norfolk Southern   30000
12172                Apollo Global Management   29550
12173                                 US Army   29539
12174                     McCombs Enterprises   29300
12175               Taste of Texas Restaurant   29300
12176                           US Government   28974
12177                             Sage Energy   28900
12178                  US Anesthesia Partners   28846
12179              WellMed Medical Management   28743
12180                       Redman Management   28400
12181                         Bank of America   27591
12182                       Dell Technologies   27575
12183                     Discovery Operating   27500
12184                               Boeing Co   27487
12185                      Jackson Walker Llp   27317
12186                           Crow Holdings   27200
12187                        Northrop Grumman   26880
12188        Tennessee Industrial Electronics   26700
12189                 Mid States Operating Co   26400
12190                         Anthem Ventures   26200
12191                        Gene By Gene Ltd   26200
12192                    Genox Transportation   26200
12193                     Wildhorse Resources   26200
12194                          Warburg Pincus   26000
12195               Silver Eagle Distributors   25810